.demo-card-square.mdl-card.mdl-shadow--2dp.shop
  .mdl-card__title.mdl-card--expand
    %h2.mdl-card__title-text 携帯ショップ
  .mdl-card__supporting-text
    中古から新品まで多くの品を取り揃えております。
    特にiPhone類はどこよりも安いです。
  .mdl-card__actions.mdl-card--border
    %a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect
      入店する
