@import 'material';
@import 'toastr';
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 100%/1.5 'Helvetica Neue', 'Avenir Next', 'Hiragino Sans', sans-serif;
  //line-height: 1.7;
  //letter-spacing: 1px;
}

li,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
/*
input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    opacity: 1.0;
  }
}
*/

.clear {
  clear: both;
}

.field_with_errors {
  .form-control {
    border-bottom: 1px solid red;
  }
}
/* material design lite extends */
.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type {
  padding-right: 0;
}

.mdl-layout__header {
  background-color: transparent;
}

.mdl-layout__content {
  margin-top: 50px;
}
.mdl-color-text--white{
  width: 400px;
  margin-top: 25px;
}
.mdl-textfield__label{
  color: rgba(255,255,255,0.8);
}
.mdl-textfield__input{
  border-bottom: 1px solid rgba(255,255,255,0.8);
  width: 100%;
  @include box_sizing;
}
