// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  text-align: center;

  .red {
    color: red;
  }

  .nav {
    font-size: 0.8em;

    h1 {
      font-size: 0.5em;
    }

    p {
      font-size: 0.3em;
    }
  }

  .login-form {
    margin: 30px auto;
    background-color: gray;
  }
}
.demo-layout-transparent {
  //background-image: url("/green-top.jpg");
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
.bg-slider {
	width: 100vw;
	height: 100vh;
	background-position:center center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.bg-slider__title{
	color: #fff;
	font-size: 48px;
	line-height: 1.5;
	font-weight: bold;
	text-align:center;
	text-shadow: 1px 1px 1px #000;
}
