- links = {About: 'about_path', Contact:'contact_path'}
%header.mdl-layout__header.mdl-layout__header--waterfall
  .mdl-layout__header-row
    %span.mdl-layout-title
      = link_to 'SHOPEN', root_path
    .mdl-layout-spacer
    .mdl-textfield.mdl-js-textfield.mdl-textfield--expandable.mdl-textfield--floating-label.mdl-textfield--align-right
      %label.mdl-button.mdl-js-button.mdl-button--icon{for: 'waterfall-exp'}
        %i.material-icons search
      .mdl-textfield__expandable-holder
        %input.mdl-textfield__input{type:"text",name:"sample",id:"waterfall-exp"}

  .mdl-layout__header-row
    .mdl-layout-spacer
    %nav.mdl-navigation
      - links.each do |key, value|
        %a.mdl-navigation__link{href: send(value)}= key
.mdl-layout__drawer
  %span.mdl-layout-title SHOPEN
  %nav.mdl-navigation
    - links.each do |key, value|
      %a.mdl-navigation__link{href: send(value)}= key
