!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FlitApp
    = render 'layouts/shim'
  %body
    = render 'layouts/header'
    = yield
    = render 'layouts/footer'
